:root {
  font-size: 18px;
  --main-color: #1947a3;
  --main-hover-color: #1947a3c7;
  --half-main-color: #1947a380;
  --carousel-bg-color: #80808080;
  --half-black: #00000080;
  --half-white: #ffffff80;
  --green-color: #8ae6a4;
}
.special-name {
  background: -webkit-linear-gradient(var(--main-color), var(--green-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  height: 1000vh;
}
.pointer {
  cursor: pointer;
}
.text-color {
  color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.bg-color {
  background-color: var(--main-color) !important;
}
.bg-hover-color {
  background-color: var(--main-hover-color) !important;
}
.btn.btn-dark {
  background-color: var(--main-color) !important;
  border: none !important;
}
.btn.btn-dark:hover {
  background-color: var(--main-hover-color) !important;
}
.btn.btn-outline-dark {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn.btn-outline-dark:hover {
  color: white;
  background-color: var(--main-color);
}
.container-fluid {
  padding: 0px 5px !important;
}
.navbar {
  opacity: 0.9;
  background-color: white !important;
  z-index: 9999 !important;
}
.carousel-item img {
  width: 100%;
  height: calc(100vh);
  object-fit: fill;
}
.carousel-caption {
  background-color: var(--carousel-bg-color);
}
.form-check-input:checked {
  box-shadow: none;
  border: none;
  background-color: var(--main-color);
}
.dropdown-toggle {
  width: fit-content !important;
}
.dropdown-toggle:hover span {
  font-size: 1.1rem;
  background: -webkit-linear-gradient(var(--main-color), var(--green-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icons-list {
  font-size: 3rem;
  color: var(--main-color);
  z-index: 4;
  right: 3.5%;
  top: 50%;
  transform: translate(0%, -50%);
}
.icon:hover {
  cursor: pointer;
  transition: 0.3s;
  color: var(--main-hover-color);
}
.copy-btn {
  position: relative;
}
.copy-btn::before,
.copy-btn::after {
  position: absolute;
  top: 98%;
  left: 98%;
  background-color: var(--main-hover-color);
  color: white;
  padding: 2px 8px;
  border-radius: 0 12px 12px 12px;
  display: none;
}
.copy-btn::after {
  content: "Copied";
}
.copy-btn::before {
  content: "Copy to Clipboard";
}
.copy-btn:hover::before {
  display: block;
}
.copy-btn:active::after {
  display: block;
}
.copy-btn:active::before {
  display: none;
}
.background-img {
  height: 40vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.background-url1 {
  background-image: url(../images/background1-img.png);
}
.background-url2 {
  background-image: url(../images/background2-img.jpg);
}
.card {
  height: 32rem;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    var(--main-hover-color) 30%
  );
  transform: rotate(-45deg);
  transition: all 0.7s ease;
  opacity: 0;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--main-hover-color);
}
.card:hover::before {
  opacity: 0.8;
  transform: rotate(-45deg) translateY(100%);
}
.item{
  transition: 0.5s;
  cursor: pointer;
}
.item>img{
  filter: grayscale(50%);
  /* transform: scale(100); */
  transition: 0.5s;
}
.item:hover >img{
  filter: grayscale(0%);
  transform: scale(1.1);
}
.item:hover{
  transform: scale(0.95);
}