:root {
  font-size: 18px;
  --main-color: #1947a3;
  --main-hover-color: #1947a3c7;
  --half-main-color: #1947a380;
  --carousel-bg-color: #80808080;
  --half-black: rgba(0, 0, 0, 0.5);
  --half-white: rgba(255, 255, 255, 0.5);
  --green-color: #8ae6a4;
}

.special-name {
  background: -webkit-linear-gradient(var(--main-color), var(--green-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  height: 200vh;
}

.text-color {
  color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.bg-color {
  background-color: var(--main-color) !important;
}

.btn.btn-dark {
  background-color: var(--main-color);
  border: none;
}
.btn.btn-dark:hover {
  background-color: var(--main-hover-color);
}

.btn.btn-outline-dark {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn.btn-outline-dark:hover {
  color: white;
  background-color: var(--main-color);
}

.container-fluid {
  padding: 0px 5px !important;
}

.navbar {
  background-color: white !important;
}

.carousel-item img {
  width: 100%;
  height: calc(100vh - 89.25px);
  object-fit: fill;
}

.carousel-caption {
  background-color: var(--carousel-bg-color);
}

.form-check-input:checked {
  box-shadow: none;
  border: none;
  background-color: var(--main-color);
}

.dropdown-toggle:hover span {
  font-size: 1.1rem;
  color: var(--green-color);
}

.icons-list {
  font-size: 3rem;
  color: var(--main-color);
  z-index: 4;
  right: 2%;
  top: 50%;
  transform: translate(0%, -30%);
}

.icon:hover {
  cursor: pointer;
  transition: 0.3s;
  color: var(--main-hover-color);
}
