:root {
  font-size: 18px;
  --main-color: #1947a3;
  --main-hover-color: #1947a3c7;
  --half-main-color: #1947a380;
  --carousel-bg-color: #80808080;
  --half-black: #00000080;
  --half-white: #ffffff80;
  --green-color: #8ae6a4;
}
.special-name {
  background: -webkit-linear-gradient(var(--main-color), var(--green-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  height: 500vh;
}
.pointer {
  cursor: pointer;
}
.text-color {
  color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.bg-color {
  background-color: var(--main-color) !important;
}
.bg-hover-color {
  background-color: var(--main-hover-color) !important;
}
.btn.btn-dark {
  background-color: var(--main-color) !important;
  border: none !important;
}
.btn.btn-dark:hover {
  background-color: var(--main-hover-color) !important;
}
.btn.btn-outline-dark {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn.btn-outline-dark:hover {
  color: white;
  background-color: var(--main-color);
}
.container-fluid {
  padding: 0px 5px !important;
}
.navbar {
  opacity: 0.9;
  background-color: white !important;
  z-index: 9999 !important;
}
.carousel-item img {
  width: 100%;
  height: calc(100vh);
  object-fit: fill;
}
.carousel-caption {
  background-color: var(--carousel-bg-color);
}
.form-check-input:checked {
  box-shadow: none;
  border: none;
  background-color: var(--main-color);
}
.dropdown-toggle {
  width: fit-content !important;
}
.dropdown-toggle:hover span {
  font-size: 1.1rem;
  color: var(--green-color);
}
.icons-list {
  font-size: 3rem;
  color: var(--main-color);
  z-index: 4;
  right: 3.5%;
  top: 50%;
  transform: translate(0%, -50%);
}
.icon:hover {
  cursor: pointer;
  transition: 0.3s;
  color: var(--main-hover-color);
}
.copy-btn {
  position: relative;
}
.copy-btn::before,
.copy-btn::after {
  position: absolute;
  top: 98%;
  left: 98%;
  background-color: var(--main-hover-color);
  color: white;
  padding: 2px 8px;
  border-radius: 0 12px 12px 12px;
  display: none;
}
.copy-btn::after {
  content: "Copied";
}
.copy-btn::before {
  content: "Copy to Clipboard";
}
.copy-btn:hover::before {
  display: block;
}
.copy-btn:active::after {
  display: block;
}
.copy-btn:active::before {
  display: none;
}
.background-img {
  height: 40vh;
  background-image: url(../images/background-img.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.card {
  height: 33rem;
}
